.fruits {
  list-style-type: none;
  /* list-style-type: upper-roman; */
}

li {
  /* list-style-position: inside; */

}

.fruits li::before {
  /* content: 'this is my fancy bullet point'; */
}

ul.slides {
  /* list-style: none; */
}

ul.slides li {
  list-style: none;
  display: inline-block;

}


.ordered-list li {
  background-color: #f99;
  margin-bottom: 5px;
  /* list-style-position: inside; */
}


